img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    padding: 5px;
}

img:hover{
    cursor: pointer;
    opacity: 0.5;
}
#Image{
 flex-grow:5;
}

.container{
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 background-color: black;
 flex-direction: row;
 transition: step-end;
}