*{
    font-family: 'Delicious Handrawn', cursive;
}
h1{
    background-color: aliceblue;
    color:blueviolet;
    font-size:60px;
}
p{
    padding:5px;
    background-color: aquamarine;
    color:grey;
    font-size: 20px;
}
#first{
    background-color: aqua;
    color:brown;
    font-size: 25px;
}
.middle{
    background-color:sandybrown;
    color:blue ;
    font-size: 25px;
}
img{
    padding-left: 25%;
    width:50%;
}
a[href]{
    color:aqua;
}
a:visited{
    color:red;
}
a:hover{
    color:blue;

}